@import "varMix";

body
{
	font: 
	{
		size: 1em;
		family: "Oxygen", sans-serif;
	}
	padding: 0;
	margin: 0;
	min-width: 20em;
}

.container
{
	background:
	{
		image: url("../pictures/background1.png"); /* from http://subtlepatterns.com/ */
		attachment: fixed;	
	}	
	padding-top: .01em; /* dzieki temu tlo jest rowniez ponad nav */
}

nav
{
	margin:
	{
		bottom: -4em;
		top: 1.5em;
	}
	
	position: relative;
	z-index: 1;
	min-width: 20em;
	width: 100%;
	height: 2.5em;
	background-color: rgba(0, 0, 0, .2);
	border-radius: 0 0 .3125em .3125em; 
}

.fixed
{
	background-color: $colorMain;
	position: fixed;
	margin: 0;
	top: 0;
}

figure
{
	margin:
	{
		left: 3.75em;
		top: 0;
		bottom: 0;
	}
	
	#logo
	{	
		position: relative;
		z-index: 2;
		float: left;
		width: 1.5em;
		height: 1.5em;
		margin-top: .5em;
		margin-bottom: .5em;
	}
}

.open-menu
{
	position: relative;
	z-index: 2;
	float: right;
	font-size: 1.4em; 
	background: 0;
	border: 0;
	padding: 0;
	margin:
	{
		top: .3em;
		right: 3em;
	}
	color: $colorWhite;
}

.menu
{
	position: absolute;
	z-index: 1;
	display: none;
	width: 100%;
	clear: both;
	padding: 0;
	margin: 0;	
}

.menuDescription
{
	line-height: 2.5em;
	float: left;
	height: 2.5em;
	list-style: none;
	width: 100%;
	display: block;
	text-align: center;
	background-color: $colorWhite;
	
	&:first-child
	{
		margin-top: 2.5em;
	}
	
	&:active
	{
		background-color: $colorMain;
		color: $colorWhite;
	}
}

.mailContact
{
	display: block;
	width: 100%;
	color: $colorMain;
	text-decoration: none;
	
	&:active
	{
		color: $colorWhite;
		background: $colorMain;		
	}
}

header
{
	margin:
	{
		top: 4em;
		left: auto;
		right: auto;
	}
	padding:
	{
		top: 6em;
		bottom: 6em;
	}
	min-width: 20em;
	text-align: center;
	clear: both;
	height: 20em;
	width: 70%;
	
	h1
	{
		display: none;
		font-size: 1.7em;
		text-align: center;
		line-height: 5em;
		color: $colorMain;
		margin: 0;
		
		&:first-child
		{
			border-bottom: 1px solid $colorMain;
		}
	}
}

section
{
	line-height: 2.8em;
	font-size: 1.7em;
	width: 100%;
	height: 6em;
	background-color: $colorMain;
	text-align: center;
	
	h4
	{
		color: $colorWhite;	
		height: 100%;
		margin: 0;
	}
}

.CV
{
	background:
	{
		image: url("../pictures/background2.png"); /* from http://subtlepatterns.com/ */
	}
	padding: 2em 0 4em 0;
	overflow: hidden;
	position: relative;
	z-index: 0;
	box-sizing: border-box;	
	width: 100%;
}

aside
{
    visibility: hidden;
    line-height: 2em;
    border: 4px solid rgb(2, 169, 234);
    box-sizing: border-box;
    background-color: rgb(35, 87, 137);
    padding: .37em;
    margin: 2em auto 2em auto;
    text-align: center;
    height: 3em;
	max-width: 30em;
    width: 80%;
    font-size: 1.7em;
	
	h4 
	{
		color: $colorWhite;		
		margin: 0;	
	}
}

.pApperance
{
	font-size: 1.2em;
    width: 100%;
    margin: auto;	
	visibility: hidden;	
	text-align: center;
	color: $colorMain;
}

.skillsDescription
{
	max-width: 40em;
	visibility: hidden;
    width: 100%;
    margin: auto;
    text-align: center;
	font-size: 1.2em;
	
	& img
	{
		margin: .5em 1em .5em 1em;
		width: 4em;
		height: 4em;
	}
}

.aboutMe
{
	background:
	{
		attachment: fixed;	
		image: url("../pictures/background3.png"); /* from http://subtlepatterns.com/ */
	}
	overflow: hidden;
	font-size: 1.15em;
	text-align: center;
	color: $colorMain;	
	padding: 2em 1em 2em 1em;
	box-sizing: border-box;		
	width: 100%;
}

.descriptionOfMe
{
	visibility: hidden;
	margin:
	{
		right: auto;
		left: auto;
	}
	max-width: 26.375em;
	text-align: center;
	display: block;
}

.aboutMeImage
{
	margin: 2em 0 2em 0;
}


.imgFace
{	
	visibility: hidden;
	box-shadow: 0 0 2em rgb(0, 0, 0);
	border-radius: 100%;
	width: 7em;
	height: 7em;
}

.quotation
{	
	margin:
	{
		right: auto;
		left: auto;
	}
	font:
	{
		weight: bold;
		style: italic;
	}
	visibility: hidden;
	max-width: 26.375em;
	padding-left: 1em;
	display: block;
	
	&:before
	{
		margin:
		{
			left: -.5em;
			top: -.4em;
		}
		content: "\201C";
		font-size: 4.5em;
		position: absolute;
		color: rgb(122, 122, 122);
	}
}

.author
{
	margin:
	{
		left: auto;
		right: auto;
	}
	visibility: hidden;
	max-width: 26.375em;	
	display: block;
}

.project
{
	box-sizing: border-box;
	overflow: hidden;
	padding: 1em;
	background-image: url("../pictures/background4.png"); /* from http://subtlepatterns.com/ */
	width: 100%;
	height: 100%;	
	
	& img
	{
		margin: auto;
		display: block;	
		width: 10em;
		height: 6em;
	}
}

.descriptionProject
{
	width: 10em;
	height: 12em;
	background-color: $colorMain;
	display: inline-block;
}

footer
{
	position: absolute;
	font-size: 1em;
	box-sizing: border-box;
	padding: .7em;
	color: $colorWhite;
	width: 100%;
	border-radius: .3125em .3125em 0 0; 
	background-color: $colorMain;
	min-width: 20em;
	
	& a
	{
		color: $colorWhite;
		text-decoration: none;		
		font-size: .8em;	
		
		&:hover
		{	
			cursor: pointer;
		}
	}
}

.copy
{
	float: left;
	margin: auto;
}

.icon-facebook
{
	float: right;
    margin-right: 3em;
	color: $colorWhite;
	text-decoration: none;
	font-size: 1.2em;
	
	&:hover
	{
		background-color: $colorWhite;
		color: $colorMain;
	}
}