@import "varMix";

@media(min-width: 641px)
{
	.container
	{
		height: 45em;
	}
	
	#logo:hover
	{
		cursor:pointer;
	}

	.open-menu
	{
		display: none;
	}
	
	.menu
	{
		position: relative;
		float: right;
		display: inline-block !important;
		width: 60%;
		padding: 0;
		clear: none;
	}	
	
	.menuDescription
	{
		line-height: 2.5em;
		height: 2.5em;
		max-width: 12.5em; /* 200px */
		width: 25%;
		display: inline-block;
		text-align: center;
		background: 0;
		color: $colorWhite;

		& .mailContact
		{
			color: $colorWhite;
		}
			
		&:first-child
		{
			margin-top: 0;	
		}	
		
		&:hover
		{
			cursor: pointer;
		}	
		
		&:active, .mailContact:active
		{
			background-color: $colorWhite;
			color: $colorMain;
		}	
	}
	
	header
	{
		font-size: 1.2em;
	}

	section
	{
		line-height: 4em;
		font-size: 2em;
		width: 100%;
		height: 8em;
		background-color: $colorMain;
		text-align: center;
	}
		
	.project img
	{
		width: 18em;
		height: 11.11em;
	}
}






